.map-container {
    height: 50vh;
    width: 50%;
  }
  
  .map-button {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    z-index: 999;
  }
  
  .map-button:hover {
    background-color: #0056b3;
  }

  .map-popup {
    position: fixed;
    bottom: 20px;
    left: 20px;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  